<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/8-1%20Dashboard-Cliente%20novedades.css">
    <link rel="icon" href="/IMG/Logo de pestaña.PNG">

    <title>Novedades | Industrias Asociadas</title>
</head>

<body>

    <div class="navegacion">
        <ul>
            <li>
                <a th:href="@{/perfilC/perfil_cliente}">
                    <span class="icon"><i class='bx bx-user-circle bx-tada i1'></i></span>
                    <span class="titulo">Cliente</span>
                </a>
            </li>

            <li>
                <a th:href="@{/inicioUsuario/inicio_usuario}">
                    <span class="icon"><i class='bx bx-home i1'></i></span>
                    <span class="titulo">Inicio</span>
                </a>
            </li>

            <li>
                <a th:href="@{/novedades/cliente_novedades}">
                    <span class="icon"><i class='bx bx-bell i1'></i></span>
                    <span class="titulo">Novedades</span>
                </a>
            </li>

            <li>
                <a th:href="@{/ventaC/productos_venta_cliente}">
                    <span class="icon"><i class='bx bx-cart i1'></i></span>
                    <span class="titulo">Productos En Venta</span>
                </a>
            </li>

            <li>
                <a th:href="@{/compras/cliente_mis_compras}">
                    <span class="icon"><i class='bx bx-shopping-bag i1'></i></span>
                    <span class="titulo">Tus compras</span>
                </a>
            </li>

            <li>
                <a th:href="@{/inicio/inicio}">
                    <span class="icon"><i class='bx bx-exit i1'></i></span>
                    <span class="titulo">Salir</span>
                </a>
            </li>
        </ul>
        <div class="toglee"></div>

    </div>

    <section class="dash">
        <div class="top">
            <img src="/IMG/logo industrias.png" width="100px">

            <div class="buscar">
                <i class='bx bx-search bx-flashing a1'></i>
                <input type="search" placeholder="Buscar...">
            </div>
        </div>

        <div class="contenido">
            <div class="contenido-2">
                <div class="titulo">
                    <i class='bx bx-bell i1'></i>
                    <span class="text">ESTA VISUALIZANDO LAS ULTIMAS NOVEDADES</span>
                </div>
            </div>
        </div>

        <div class="cards">
            <div class="car car1">
                <i class='bx bxs-bell-ring bx-tada' ></i>
                <span class="text">PRODUCTOS CON<span class="dec">&nbsp;50%&nbsp;</span>DE DESCUENTO OFERTA POR TIEMPO <span class="lim">&nbsp;¡¡LIMITADO!!</span></span>
            </div>
        </div>

        <div class="body">
            <div class="container__card">
                <div class="cardsB b1">
                    <div class="prod">
                        <img src="/IMG/Productos/producto15.PNG" alt="">
                    </div>
                    <div class="nom">
                        <h5>Bobinas A Prueba De Explosion EXX</h5>
                    </div>
                    <div class="info__descripcion">
                        <h6>Marca: DWYER</h6>
                        <h5>Categoria: Temperatura</h5>
                        <p>
                            Bobinas de alto rendimiento para áreas con riesgo de explosión,
                             apto para zonas explosivas  y cuenta con la autorización con
                              la autorización Eex m II T4 ATEX 100A Zona.
                        </p>
                        <div class="precio">
                            <span class="precio1">50%</span>&nbsp;&nbsp;
                            <span class="precio2"><b>$564.968</b></span>
                        </div>
                        <a class="btn" th:href="@{/descargar/new}">COMPRAR AHORA</a>
                    </div>
                </div>

                <div class="cardsB b1">
                    <div class="prod">
                        <img src="/IMG/Productos/producto16.PNG" alt="">
                    </div>
                    <div class="nom">
                        <h5>Minitermómetro De Infrarrojos De Amplio rango 42510A</h5>
                    </div>
                    <div class="info__descripcion">
                        <h6>Marca: Danfoss</h6>
                        <h5>Categoria: Válvulas</h5>
                        <p>
                            El termómetro compacto 42510A mide la temperatura de
						 -58 a 1200 ° F (-50 a 650 ° C) con una resolución de 0.1
						  grados para lecturas de hasta 999.9 grados. Puntos de ajuste
						   alto / bajo ajustables con alarma audible que alerta al 
						   usuario cuando la temperatura excede los puntos de ajuste 
						   programados.
                        </p>
                        <div class="precio">
                            <span class="precio1">50%</span>&nbsp;&nbsp;
                            <span class="precio2"><b>$235.500</b></span>
                        </div>
                        <a class="btn" th:href="@{/descargar/new}">COMPRAR AHORA</a>
                    </div>
                </div>

                <div class="cardsB b1">
                    <div class="prod">
                        <img src="/IMG/Productos/producto17.PNG" alt="">
                    </div>
                    <div class="nom">
                        <h5>Detectores De Voltaje AC-10</h5>
                    </div>
                    <div class="info__descripcion">
                        <h6>Marca: WEKA</h6>
                        <h5>Categoria: Válvulas</h5>
                        <p>
                            Permiten comprobar la presencia de tensión en interruptores,
                             enchufes y circuitos de CA de manera rápida y económica
                              antes de trabajar en ellos.
                        </p>
                        <div class="precio">
                            <span class="precio1">50%</span>&nbsp;&nbsp;
                            <span class="precio2"><b>$369.275</b></span>
                        </div>
                        <a class="btn" th:href="@{/descargar/new}">COMPRAR AHORA</a>
                    </div>
                </div>

                <div class="cardsB b1">
                    <div class="prod">
                        <img src="/IMG/Productos/producto6.PNG" alt="">
                    </div>
                    <div class="nom">
                        <h5>Transmisor De Humedad / Temperatura THD-R</h5>
                    </div>
                    <div class="info__descripcion">
                        <h6>Marca: CEM</h6>
                        <h5>Categoria: Herramientas Ambi...</h5>
                        <p>
                            Los transductores de temperatura/humedad serie THD
						 tienen sensores de temperatura y humedad incorporados
						  y son capaces de varias salidas, incluida la comunicación
						   4-20 mACC, 1-5 VCC, RS485. Los sensores de temperatura
						    tienen un rango de -19.9 a 60.0 ° C y los sensores de
						     humedad de 0.0 a 99.9% RH.
                        </p>
                        <div class="precio">
                            <span class="precio1">5%</span>&nbsp;&nbsp;
                            <span class="precio2"><b>$762.400</b></span>
                        </div>
                        <a class="btn" th:href="@{/descargar/new}">COMPRAR AHORA</a>
                    </div>
                </div>

                <div class="cardsB b1">
                    <div class="prod">
                        <img src="/IMG/Productos/producto19.PNG" alt="">
                    </div>
                    <div class="nom">
                        <h5>Detectores De Voltaje AC-10</h5>
                    </div>
                    <div class="info__descripcion">
                        <h6>Marca: CEM</h6>
                        <h5>Categoria: Nivel/Control</h5>
                        <p>
                            Permiten comprobar la presencia de tensión en interruptores,
                             enchufes y circuitos de CA de manera rápida y económica
                              antes de trabajar en ellos.
                        </p>
                        <div class="precio">
                            <span class="precio1">50%</span>&nbsp;&nbsp;
                            <span class="precio2"><b>$705.850</b></span>
                        </div>
                        <a class="btn" th:href="@{/descargar/new}">COMPRAR AHORA</a>
                    </div>
                    
                </div>

                <div class="cardsB b1">
                    <div class="prod">
                        <img src="/IMG/Productos/producto20.PNG" alt="">
                    </div>
                    <div class="nom">
                        <h5>Temporizadores Multifunción Serie LE4S</h5>
                    </div>
                    <div class="info__descripcion">
                        <h6>Marca: AUTONICS</h6>
                        <h5>Categoria: Temperatura</h5>
                        <p>
                            Los temporizadores digitales LCD con luz de fondo Series LE4S/LE4SA
                             se encuentran reducidas en un 22% aprox., lo cual ahorra espacio de
                              montaje, adoptando también un nuevo diseño de placa de datos. Además,
                               se cuenta con un ajuste de valor y rango de tiempo por separado al
                                seleccionar el modo de salida Flicker (FK, FK I) ó ON-OFF Delay
                                 (ON OFF D, ON OFF D I).
                        </p>
                        <div class="precio">
                            <span class="precio1">50%</span>&nbsp;&nbsp;
                            <span class="precio2"><b>$575.850</b></span>
                        </div>
                        <a class="btn" th:href="@{/descargar/new}">COMPRAR AHORA</a>
                    </div>
                    
                </div>

                <div class="cardsB b1">
                    <div class="prod">
                        <img src="/IMG/Productos/producto21.PNG" alt="">
                    </div>
                    <div class="nom">
                        <h5>Trampa Termostática TAV</h5>
                    </div>
                    <div class="info__descripcion">
                        <h6>Marca: SPENCE</h6>
                        <h5>Categoria: Sistema para vapor</h5>
                        <p>
                            Fabricado íntegramente en acero inoxidable, soporta presiones
                             de hasta 500 psig. Funcionan en base a diferenciales de temperatura.
                              Cuando el termostato entra en contacto con un elemento de baja temperatura
                               (aire) lo expulsa, mientras que tan pronto como detecta vapor, cierra de
                                forma hermética.
                        </p>
                        <div class="precio">
                            <span class="precio1">50%</span>&nbsp;&nbsp;
                            <span class="precio2"><b>$49.850</b></span>
                        </div>
                        <a class="btn" th:href="@{/descargar/new}">COMPRAR AHORA</a>
                    </div>
                    
                </div>

                <div class="cardsB b1">
                    <div class="prod">
                        <img src="/IMG/Productos/producto9.PNG" alt="">
                    </div>
                    <div class="nom">
                        <h5>Medidor De Fatiga Calorífica HT30</h5>
                    </div>
                    <div class="info__descripcion">
                        <h6>Marca: EXTECH</h6>
                        <h5>Categoria: Herramientas Ambi...</h5>
                        <p>
                            Este medidor mide e indica el índice de calor térmico (TGBH),
                             que es qué tan caliente se siente cuando la humedad se combina
                              con temperatura, viento y luz solar directa o radiante.
                        </p>
                        <div class="precio">
                            <span class="precio1">50%</span>&nbsp;&nbsp;
                            <span class="precio2"><b>$165.200</b></span>
                        </div>
                        <a class="btn" th:href="@{/descargar/new}">COMPRAR AHORA</a>
                    </div>
                    
                </div>

                <div class="cardsB b1">
                    <div class="prod">
                        <img src="/IMG/Productos/producto13.PNG" alt="">
                    </div>
                    <div class="nom">
                        <h5>Serie Pulse Point ™ II</h5>
                    </div>
                    <div class="info__descripcion">
                        <h6>Marca: BINDICATOR</h6>
                        <h5>Categoria: Herramientas Ambi...</h5>
                        <p>
                            Detectan cuando un material llega o sale de un punto en particular.
                             Estos interruptores de nivel de punto utilizan tecnología vibratoria
                              electrónica para detectar el material.
                        </p>
                        <div class="precio">
                            <span class="precio1">50%</span>&nbsp;&nbsp;
                            <span class="precio2"><b>$84.156</b></span>
                        </div>
                        <a class="btn" th:href="@{/descargar/new}">COMPRAR AHORA</a>
                    </div>
                    
                </div>

            </div>

        </div>

    </section>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Scripts -->
    <script>
        let navegacion = document.querySelector('.navegacion');
        let toglee = document.querySelector('.toglee');
        toglee.onclick = function () {
            navegacion.classList.toggle('active')
        }
    </script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>

</html>