<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/9-2%20Dashboard-Empleado%20datos%20de%20productos.css">
    <link rel="icon" href="/img/Logo%20de%20pestaña.PNG">

    <title>Datos de productos | Industrias Asociadas</title>
</head>

<body>

    <div class="navegacion">
        <ul>
            <li>
                <a th:href="@{/perfilE/perfil_empleado}">
                    <span class="icon"><i class='bx bx-user-circle bx-tada i1'></i></span>
                    <span class="titulo">Empleado</span>
                </a>
            </li>

            <li>
                <a th:href="@{/inicioUsuario/inicio_usuario}">
                    <span class="icon"><i class='bx bx-home i1'></i></span>
                    <span class="titulo">Inicio</span>
                </a>
            </li>

            <li>
                <a th:href="@{/actializarIn/empleado_actualizar_inventario}">
                    <span class="icon"><i class='bx bx-message-square-add bx-rotate-270 i1'></i></span>
                    <span class="titulo">Actualizar Inventario</span>
                </a>
            </li>

            <li>
                <a th:href="@{/datos/empleado_datos_productos}">
                    <span class="icon"><i class='bx bx-data i1'></i></span>
                    <span class="titulo">Datos De Productos</span>
                </a>
            </li>

            <li>
                <a th:href="@{/tareas/empleado_tareas_pendientes}">
                    <span class="icon"><i class='bx bx-list-check i1'></i></span>
                    <span class="titulo">Tareas Pendientes</span>
                </a>
            </li>

            <li>
                <a th:href="@{/inicio/inicio}">
                    <span class="icon"><i class='bx bx-exit i1'></i></span>
                    <span class="titulo">Salir</span>
                </a>
            </li>
        </ul>
        <div class="toglee"></div>

    </div>

    <section class="dash">

        <div class="top">
            <img src="/img/logo%20industrias.png width="100px">

            <div class="buscar">
                <i class='bx bx-search bx-flashing a1'></i>
                <input type="search" placeholder="Buscar...">
            </div>
        </div>

        <div class="contenido">
            <div class="contenido-2">
                <div class="titulo">
                    <i class='bx bx-data i1'></i>
                    <span class="text">LISTA CON DATOS DE PRODUCTOS EN INVENTARIO</span>
                </div>
            </div>
        </div>
			
		<div class="botonPDF">
			<td><a th:href="@{/datos/empleado_datos_productos/exportar}" class="btn btn-success">Generar Informe PDF</a></td>
		</div>
			
			<table class="table">
					<thead>
						<tr>
							<th>ID Producto</th>
							<th>Nombre Producto</th>
							<th>Descripción</th>
							<th>Marca</th>
							<th></th>
							<th></th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="producto : ${Productos}">
							<td th:text="${producto.ID_Producto}"></td>
							<td th:text="${producto.Nombre_Producto}"></td>
							<td th:text="${producto.Descripcion}"></td>
							<td th:text="${producto.Marca}"></td>
							<td><a th:href="@{/datos/editar/}+${producto.ID_Producto}" class="btn btn-warning">Editar</a></td>
							<td><a th:href="@{/datos/eliminar/}+${producto.ID_Producto}" class="btn btn-danger">Eliminar</a></td>
						</tr>
					</tbody>
				</table>

    </section>



    <!-- validación eliminar JavaScript -->
   
    	<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="/js/9%20validacion_eliminar_datos_productos.js"></script>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Scripts -->
    <script>
        let navegacion = document.querySelector('.navegacion');
        let toglee = document.querySelector('.toglee');
        toglee.onclick = function () {
            navegacion.classList.toggle('active')
        }
    </script>

</body>

</html>